<div class="myfooter">
    test
    <div class="row">

        <div class="col-lg-12 footer-logo">
            DMC
        </div>

        <hr class="footer-line">

        <div class="col-lg-9 col-sm-12 footer-left">
            <p>Copyright ⓒ 2019 DMC Lab. All rights reserved.</p>
            <p>주소 : 경기도 수원시 영통구 월드컵로 206 아주대학교 산학협력원 534호 분산이동컴퓨팅연구실</p>
            <p>대표이사 : 김용현 | 대표전화 : 010-0000-0000 </p>                  
        </div>

        <div class="col-lg-3">
            test
        </div>


    </div>
</div>


<style>
    .myfooter{
        bottom: 0;
        background-color: #1f1f1f;
        height: 240px;
        padding: 20px 130px;
    }
    .footer-left{
        color: white;
        font-size: 14px;
    }

    .footer-line{
        width: 98%;
        border: solid 1px white;
    }

    .footer-logo{
        color:white;
        font-size: 20px;
    }

    @media ( max-width: 812px ) {
        .myfooter{
            padding: 10px 30px;
            height: 240px;
        }

        .footer-left{
            font-size: 12px;
        }

        .footer-line{
            width: 90%;
        }
    }
</style>