<div class="myfooter">
    <div class="row">

        <div class="col-lg-9 footer-inner">
            <strong>DMC</strong> 
            <p>Copyright ⓒ 2019 DMC Lab. All rights reserved.</p>
        </div>

        <div class="col-lg-3 col-sm-12 footer-left">
            test
        </div>

    </div>
</div>


<style>
    .myfooter{
        bottom: 0;
        background-color: #1f1f1f;
        height: 180px;
        padding: 60px 49px;
    }
    .footer-inner{
        color: #666666;
        font-size: 16px;
    }

    @media ( max-width: 812px ) {
        .myfooter{
            padding: 10px 30px;
            height: 240px;
        }

        .footer-left{
            font-size: 12px;
        }

        .footer-line{
            width: 90%;
        }
    }
</style>