<div class="nav">
  <div class="logo" style="color: black;">
    <a href="/" class="nav-content" style="font-weight: 500; margin-left: 0 !important;">DMC</a>
    <a href="/project" class="nav-content">projects</a>
    <a href="/contact" class="nav-content">contact</a>
    <a href="/team" class="nav-content">team</a>
    <a href="/papers" class="nav-content">papers</a>
  </div>
  </div>
      
</div>

<style>
  .nav{
    top: 0px;
    width: 100%;
    left: 0px;
    padding: 52px;
    transition: opacity .2s ease-in-out;
  }
  .nav-content{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 40px;
    font-weight: 200;
  }

  .nav-content:hover{
    text-decoration-line: none;
    color: #9ab9ca;
  }
</style>