<div id="custom-nav">    
  <div class="custom-nav-text">
    <a href="/" id="home">
      <span class="hometext">
        DMC
      </span>
      <img src = '../images/laptop.png' width = "23px">
    </a>
        
    <a href="/about">about</a>
    <a href="/contact">contact</a>
    <a href="/members">members</a>
    <a href="/papers">papers</a>
  </div>
</div>

<style>
  #custom-nav{
    background-color: #3a5063;
    height: 50px;
  }
  #home{
    font-size: 18px;
    font-weight: 500;
  }
    
  .custom-nav-text{
    font-size: 16px;
    text-align: center;
    padding: 14px;
    word-spacing: 100px;
    font-weight: 500;
  }  
  a{
    color: white;
    text-decoration: none;
  }
  .hometext{
    word-spacing: 0;
  }  
</style>