<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="section">
    <div class="page-title">
      Projects
    </div>
    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="container-title">
            Blueprint
          </div>
          <div class="container-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quisquam ipsa dolorem quasi reiciendis ex saepe incidunt culpa beatae provident ipsum alias quam recusandae, porro a inventore laudantium ullam praesentium.
          </div>

          <div class="container-showmore">
            <i class="fas fa-angle-double-right container-icon"></i>
            자세히
          </div>

        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="container-title">
            Teamate
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="container-title">
            AI Mai
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="container-title">
            특허 1
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="container-title">
            특허 2
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="container-title">
            석사님들
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>

</body>
</html>

