<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div><%- include('partials/navbar') %></div>
      <div class="background">
          <div class="main-title"><%= title %></div>
          <div class="main-image">
            <img src = '../images/main.png' width = "250px">
          </div>
      </div>
      <div class="sub-title">About</div>
      <div class="main-text">
        ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ
      </div>
      <div class="sub-image">
          <img src = '../images/computing.jpg' width = "250px">
      </div>
      <div class="sub-text">
        <p>
            This is an example of a page. Unlike posts, which are displayed on your blog's front page in the order
            they're published, pages are better suited for more timeless content that you want to be easily
            accessible, like your About or Contact imformation.
            Click the Edit link to make changes to this page or add another page.
        </p>
      </div>
      <div class="background-bot" id="grid">
        <div class="bot-lefttext">
        
            <p>Copyright ⓒ 2019 DMC Lab. 모든 권리 보유.</p>
            <p>주소 : 경기도 수원시 영통구 월드컵로 206 아주대학교 산학협력원 534호 분산이동컴퓨팅연구실</p>
            <p>대표이사 : 김용현 | 대표전화 : 010-0000-0000 | 팩스 : 031-000-0000</p>                  
        </div>
        <div class="bot-righttext">
          DMC Lab.
        </div>
      </div>      

  </body>
</html>
