<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body> 
        <%- include('partials/navbar') %>
        <div class="section" style="text-align: center;">
            <i style="font-size: 80px; margin-top: 40px;" class="fas fa-tools"></i>
            <h1 style="margin-top: 50px; margin-bottom: 25px;">준비중입니다!</h1>
            <a style="font-size: 24px;" href="/project">뒤로가기</a>
        </div>

    </body>
</html>
