<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="section">
        <div class="page-title">
            Energy Blockchain
        </div>


        <h1>
            준비중입니다!
        </h1>

        <div class="blank"></div>
    </div>

    <%- include('partials/footer') %>

</body>

</html>

<style>
    .text-bold {
        font-weight: 500;
    }

    .detailed-text {
        font-weight: 300;
        text-align: justify;
        line-height: 28px;
    }

    .blank{
        height: 300px;
    }

</style>