<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="section">
        <div class="page-title">
            Ether App
        </div>

        <div class="row">
            <div class="col-2">
                개요
            </div>

            <div class="col-10">
                EtherApp은 사용자들의 감성데이터를 블록체인에 저장해 감성데이터를 기록함으로써 사용자들의 참여에 대한 인센티브를 제공하고, 감성인식의 정확성을 향상하며, 이러한 모든 과정과 데이터는
                안전하게 기록, 공유, 이용, 판매 할 수 있는 플랫폼이다.
            </div>
        </div>


        <div class="row">
            <div class="col-2">
                진행기간
            </div>

            <div class="col-10">
                2018. 07. 27 ~ 2019. 01. 29 </div>
        </div>



        <div class="row">
            <div class="col-2">
                내용
            </div>

            <div class="col-10">
                Crypto EtherApp는 기존 EtherApp를 최대한 활용하되 블록체인의 장점인 믿음, 거래, 인센티브를 추가한다. Crypto EtherApp는 다양한 사용자가 참여하고 정확성과
                신뢰성을 높일 수 있도록 인센티브 개념을 도입하기 때문에, EtherApp가 더욱 진화되고 발전하는 생태계를 구축하는데 기여할 것이다. 기존 EtherApp의 유용한 기능(감성인식 및
                감성향상)은 물론이고 사용자들의 다양한 참여에 대한 인센티브를 제공하고, 감성인식의 정확성을 향상하며, 이러한 모든 과정과 데이터는 안전하게 기록, 공유, 이용, 판매될것이다.
                또한 EtherApp이외에 다양한 AEI 서비스를 쉽게 구현하고 이를 블록체인화 하기 위한 AEI 플랫폼을 구축한다. 이를 바탕으로 EtherApp를 비롯한 다양한 감성지능 서비스를
                제공한다. 서비스의 예로는 감성형 미디어 출판, 공유, 판매할 수 있는 생태계인 AEIMedia, 감성향상을 위하여 우리의 생활공간과 교류하는 AEIIot, 감성교육용 AEIEdu 등
                다양하며 이는 AEI 플랫폼을 이용하여 쉽게 서비스를 개발하고 서비스간 통합 효과도 기대할 수 있다.

            </div>
        </div>

        <div style="text-align: center;">
            <img src="./images/etherapp.png" height="400" width="700" alt="">
        </div>
    </div>

    <%- include('partials/footer') %>

</body>

</html>

<style>
    .row {
        margin-bottom: 30px;
        font-weight: 500;
    }

    .col-10 {
        line-height: 28px;
        font-weight: 300;
        text-align: justify;
    }
</style>