<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="section">
        <div class="page-title">
            Healthcare Blockchain
        </div>

        <div class="row">
            <div class="col-2">
                개요
            </div>

            <div class="col-10">
                프린터 시스템을 블록체인에 등록하여 프린터 소모품 관리의 자동화를 실현한다. 소모품 주문 및 현재 상태를 이더리움 스마트 컨트랙트를 통해 저장하고, 결제를 진행해 신뢰성을 높인다. 즉
                토너와 잉크, 인쇄용지 등의 소모량 히스토리를 관찰하여 완전히 소모되기 전에 프린터가 스스로 소모품들을 주문한다.
            </div>
        </div>


        <div class="row">
            <div class="col-2">
                진행기간
            </div>

            <div class="col-10">
                2018. 07. 12 ~ 2018. 12. 10
            </div>
        </div>



        <div class="row">
            <div class="col-2">
                내용
            </div>

            <div class="col-10">
                블루프린트는 프린터에 필요한 소모품(잉크, 토너, 용지)을 블록체인을 이용하여 자동으로 주문 및 결제하고, 고장 시 수리까지 자동 요청하는 시스템이다. 주문 일시, 주문 가격 등의
                데이터는 스마트 컨트랙트를 통해 이더리움에 자동으로 저장된다. 이더리움 기반으로 중앙 서버의 관리가 필요하지 않아 서버 구축비용을 절감할 수 있고, 데이터의 개방성 및 신뢰성을 확보할 수
                있다.
                프린터 사용자는 스마트 컨트랙트를 통해 자동으로 주문된 주문 내역, 프린터의 토너 및 용지 개수 등의 정보를 모바일 프린팅 애플리케이션을 통해 확인할 수 있다. 사용자에게 발행된 토큰은
                스마트 프린터 시스템에서 거래 시 화폐로 사용되어 판매자와 구매자 사이에 공정한 거래가 이루어진다.
            </div>
        </div>

        <div class="blank"></div>
    </div>

    <%- include('partials/footer') %>

</body>

</html>

<style>

    .blank{
        height: 60px;
    }

    .row {
        margin-bottom: 30px;
        font-weight: 500;
    }

    .col-10 {
        line-height: 28px;
        font-weight: 300;
        text-align: justify;
    }
</style>