<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="test">
      <div class="nav-test">
        <div class="logo">
          DMC
          <a href="/project" class="href">projects</a>
          <a href="/contact" class="href">contact</a>
          <a href="/team" class="href">team</a>
          <a href="/papers" class="href">papers</a>
        </div>
      </div>
        
      <div class="test2">
        Distributed & Mobile <br>
        <div style="color: white;">
          Computing <br>
          Lab.
        </div>
      </div>
    </div>        
    
    <div class="section" style="background-color: black; ">
      <!-- <div class="sub-title"> Welcome </div>
      
      <div class="main-text">
        Welcome to the Distributed & Mobile Computing Lab.
      </div> -->
      
      <!-- <div class="sub-image">
        <img src = '../images/computing.jpg' width = "250px">
      </div> -->
      

      <div class="row">
          <div class="col-6">
            g
          </div>
          <div class="col-6 wow slideInRight" style="padding: 50px 20px;">
            <div class="title">
              About DMC
            </div>
            <div class="about">
                분산 컴퓨팅(Distributed computing)은 인터넷에 연결된 여러 컴퓨터들의 처리 능력을 이용하여 거대한 계산 문제를 해결하려는 분산처리 모델이다. 
                분산이동컴퓨팅 연구실은 Distributed System과 Mobile Computing 전반에 대한 다양한 연구를 수행하고 있다.
            </div>
          </div> 
        </div>

          
      <div class="row" style="margin-top: 60px;">
          <div class="col-6 wow slideInLeft" style="padding: 50px 20px;">
            <div class="title" style="color: #d5ac9d;">
              Subject of Research
            </div>
            <div class="about">
              <ul>
                <li>Ubiquitous Computing</li>
                <li>Ubiquitous Monitoring System</li>
                <li>Ubiquitous Transportation</li>
                <li>Embedded Systems for Home Networking</li>
                <li>Mobile Computing in Adhoc & Sensor Networks</li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            ㅎ
          </div>  
        </div>
        

      <div class="row" style="margin-top: 60px;">
          <div class="col-6" style="padding: 50px 20px;">
 
          </div>
          <div class="col-6 wow slideInRight">
            <div class="title" style="color: #9ab9ca;">
                Project Support Organization
              </div>
              <div class="about">
                <ul>
                  <li>지식경제부(Ministry of Knowledge Economy)</li>
                  <li>한국학술진흥원(Korea Research Foundation)</li>
                  <li>국토해양부(Ministry of Land Transport and Maritime Affairs)</li>
                </ul>
              </div>
          </div>  
        </div>
    </div>
 
    <%- include('partials/footer') %>
  </body>
</html>




<style>
    .test{  
      background-image:
      linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9) 99%),
      url('../images/earth.jpg');
      /* background: url('../images/earth.jpg'); */

      background-size: cover;
      width: 100%;
      height: 900px;
      top: 0px;
      padding-left: 92px;
      padding-top: 272px;
    }

    .test2{
      font-size: 56px;
      font-weight: 900;
      color: #d5ac9d;
    }
    
    .nav-test{
      position: absolute;
      top: 0px;
      width: 100%;
      left: 0px;
      padding: 52px;
      transition: opacity .2s ease-in-out;
    }

    .logo{
      font-size: 20px;
      font-weight: 500;
      margin-left: 20px;
      color: white;
      top: 0px;
    
    }

    .href{
      text-decoration: none;
      font-size: 18px;
      color: white;
      margin-left: 40px;
      font-weight: 200;
    }

    .href:hover{
      color: #d5ac9d;
      text-decoration-line: none;
    }

    .title{
      color: #9ab9ca;
      font-size: 36px;
      font-weight:900;
    }

    .about{
      color: white;
      margin-top: 20px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 100;
    }
  </style>
