<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="section">
        <div class="page-title">
            통신환경에 대한 반응형 블록체인 통합 플랫폼 개발
        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-2">
                개요
            </div>

            <div class="col-lg-10 col-sm-10">
                본 발명은 블록체인에 저장되는 데이터를 관리하는 방법 및 서버에 관한 것으로, 블록체인 앱들로부터 블록체인으로 전달되는 데이터의 통신 환경이 변화함에 따라 데이터를 재가공하여 데이터가
                블록체인에 저장되는 효율을 향상시키는 방법 및 서버를 제공한다.
            </div>
        </div>


        <div class="row">
            <div class="col-lg-2 col-sm-2">
                진행기간
            </div>

            <div class="col-lg-10 col-sm-10">
                특허 출원 중 </div>
        </div>



        <div class="row">
            <div class="col-lg-2 col-sm-2">
                내용
            </div>

            <div class="col-lg-10 col-sm-10">
                본 발명을 통해, <br>
                1) 블록체인에 저장되도록 요청되는 입력 데이터의 통신 환경이 모니터링 될 수 있다. <br>
                2) 입력 데이터 상호간의 우선 순위가 설정되어 입력 데이터가 재가공 될 수 있다. <br>
                그에 따라, 블록체인에 데이터가 전달되는 속도와 블록체인에 데이터가 저장되는 속도 사이에 불균형이 생기는 경우에도 입력 데이터의 재가공에 의해 불균형이 해소될 수 있어, 블록체인에
                데이터가 보다 원활하게 저장될 수 있다.
            </div>
        </div>

        <div class="blank"></div>
    </div>

    <%- include('partials/footer') %>

</body>

</html>

<style>
    .blank{
        height: 30px;
    }
    .row {
        margin-bottom: 30px;
        font-weight: 500;
    }

 
    .col-lg-2{
        font-size: 18px;
    }
    
    .col-lg-10 {
        font-size: 18px;
        line-height: 34px;
        font-weight: 300;
        text-align: justify;
    }

        
    @media (max-width: 812px) {

        .col-sm-2{
            font-size: 14px;
        }
        .col-sm-10 {
            font-size: 14px;
            line-height: 28px;
            font-weight: 300;
            text-align: justify;
        }
    }
</style>