<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="section">
        <div class="page-title">
            Teamate
        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-2">
                개요
            </div>

            <div class="col-lg-10 col-sm-10">
                협업의 중요성이 점점 커지는 4차 산업혁명 시대에 맞추어 프로젝트에 적합한 인재를 찾을 수 있게 돕는 서비스를 제안한다. 이용자들이 편리하게 원하는 조건의 팀원을 구하고, 프로젝트가 끝난 후 상호 평가를 통해 다음 프로젝트 진행 시 팀원의 성격이나 태도를 미리 알 수 있는 팀 빌딩 플랫폼을 구축한다. 상호 평가와 프로젝트 경력은 블록체인 스마트 컨트랙트에 저장하여 신뢰성을 확보한다.
            </div>
        </div>


        <div class="row">
            <div class="col-lg-2 col-sm-2">
                진행기간
            </div>

            <div class="col-lg-10 col-sm-10">
                2019. 03. 02 ~ 2019. 06. 22 </div>
        </div>



        <div class="row">
            <div class="col-lg-2 col-sm-2">
                내용
            </div>

            <div class="col-lg-10 col-sm-10">
                프로젝트 역량, 관심 분야, 성격 등을 등록하고, 이전에 참여한 프로젝트에 대한 평가를 공개하여 원하는 조건의 팀원과의 프로젝트를 성사시킬 수 있다. 프로젝트가 끝난 후 팀원끼리 상호 평가가 이루어진다. 평가는 블록체인에 저장하여 수정이나 삭제가 불가능해 평가 데이터에 신뢰성을 부여한다. 블록체인을 통한 상호 평가를 통해 팀빌딩에 선순환 구조를 정착시킨다.            </div>
        </div>

    </div>

    <div style="height: 50px;"></div>
    <%- include('partials/footer') %>

</body>

</html>

<style>
    .row {
        margin-bottom: 30px;
        font-weight: 500;
    }

    .etherapp-image {
        height: 400px;
        width: 700px;
    }

    .col-lg-2{
        font-size: 18px;
    }
    
    .col-lg-10 {
        font-size: 18px;
        line-height: 34px;
        font-weight: 300;
        text-align: justify;
    }

    @media (max-width: 812px) {
        .etherapp-image {
            height: 250px;
            width: 100%;
        }

        .col-sm-2{
            font-size: 14px;
        }

        .col-sm-10 {
            font-size: 14px;
            line-height: 28px;
            font-weight: 300;
            text-align: justify;
        }
    }
</style>

