body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
} 

.background{
  background-color: black;
  height: 300px;
}
.main-title{
  color: white;
  text-align: center;    
  font-size: 40px;
  font-weight: 500;
  padding: 20px;
}
.main-image{
  text-align: center;
}
.sub-title{
  color:#282929;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}
.main-text{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
}
.sub-image{
  text-align: center;
  margin:30px;
}
.sub-text{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-left: 300px;
  margin-right: 300px;
}
ul{
  text-align: left;
  display: inline-block;
}
.background-bot{
  background-color: #e3e3e3;
  height: 180px;
  margin-top: 200px
}
#grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.bot-lefttext{
  color:gray;
  font-size: 13px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 30px;
}
.bot-righttext{
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  margin-top: 60px;
  margin-right: 100px;
}
.member-image{
  text-align: center;
  margin-bottom: 50px;
}
.member-text{
  margin-left: 300px;
}