@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
} 

.background{
  background-color: black;
  height: 300px;
}

.main-title{
  color: white;
  text-align: center;    
  font-size: 28px;
  font-weight: 500;
  padding: 20px;
}

.main-image{
  text-align: center;
}
.sub-title{
  color:#282929;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}
.main-text{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
.sub-image{
  text-align: center;
  margin:30px;
}
.sub-text{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.section{
  padding-left: 92px;
  padding-right: 92px;
  padding-top: 60px;
  padding-bottom: 100px;
}

ul{
  text-align: left;
  display: inline-block;
}
.background-bot{
  background-color: #1f1f1f;
  height: 180px;
}

#grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bot-lefttext{
  color:gray;
  font-size: 13px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 30px;
}

.bot-righttext{
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  margin-top: 60px;
  margin-right: 100px;
}

.member-image{
  text-align: center;
  margin-bottom: 50px;
}
.member-text{
  margin-left: 300px;
}

.page-title{
  font-size: 46px;
  line-height: 68px;
  font-weight: 900;
  color: #9ab9ca;
  text-align: left;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}


.test2{
  font-size: 56px;
  font-weight: 900;
  color: #d5ac9d;
}

.nav-test{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  padding: 52px;
  transition: opacity .2s ease-in-out;
}

.logo{
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  color: white;
  top: 0px;
}

.href{
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin-left: 40px;
  font-weight: 200;
}

.href:hover{
  color: #d5ac9d;
  text-decoration-line: none;
}

.title{
  color: #9ab9ca;
  font-size: 36px;
  font-weight:900;
}

.about{
  color: white;
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
}

.container{
  border: 1px solid lightgray;
  /* height: 240px; */
  margin-top: 30px;
  padding: 30px 30px;
}
.container-title{
  font-size: 20px;
  font-weight: 500;
  color: black;
  line-height: 28px;
}

.container-content{
  font-size: 17px;
  margin-top: 15px;
  line-height: 28px;
  color: gray;
  font-weight: 300;
  text-align: justify;
}

.container-showmore{
  font-size: 16px;
  color: #9ab9ca;
}

.container-icon{
  margin-top: 20px;
  font-size: 18px; 
  margin-right: 8px; 
}

.show-more-btn {
  border: 1px solid black;
  padding: 20px 20px;
  width: 300px;
  height: 50px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
}

.show-more-btn:hover {
  background-color: black;
  color: white;
}

.card-introduce {
  position: relative;
  /* width: 410px; */
  vertical-align: top;
  margin: 20px 15px;
  display: inline-block;
  text-align: left;
  padding: 32px 35px;
  box-sizing: border-box;
  /* height: 200px; */
  border-color: #ced4da !important;
  border: .0625rem solid rgba(0, 0, 0, .08);
  border-radius: .375rem;
  background-color: transparent !important;
  background-clip: border-box;
}

.card-introduce-body {
  padding: 1rem;
  flex: 1 1 auto;
}

.filter-btn {
  padding: 5px 40px;
  margin-right: 20px;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  font-size: 15px;
}

.filter-btn:hover {
  background-color: #1f1f1f;
  color: white;
}

.list:hover {
  background-color: #fafafa;
}

.paper-title {
  font-size: 17px;
  font-weight: 400;
}

.paper-writer {
  font-size: 15px;
  font-weight: 300;
  color: gray;
  margin-top: 10px;
}

.paper-info {
  font-size: 15px;
  font-weight: 300;
  color: gray;
}


.btn-group{
  text-align: left; 
  margin-top: 60px; 
  margin-bottom: 50px;
}

/* mobile */
@media ( max-width: 812px ) {
  .section{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }


  .page-title {
    font-size: 27px;
    margin-bottom: 0px;
  }

  .btn-group{
    text-align: left; 
    margin-top: 0px; 
    margin-bottom: 30px;
  }

  .filter-btn {
    padding: 5px 24px;
    margin-right: 20px;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    font-size: 13px;
  }

  .paper-title {
    border-top: 1px solid lightgray;
    padding-top: 30px;

    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
  }
  
  .paper-writer {
    font-size: 12px;
    font-weight: 300;
    color: gray;
    text-align: justify;
    margin-top: 10px;
  }
  
  .paper-info {
    font-size: 12px;
    font-weight: 300;
    color: gray;
    text-align: justify;
  }
}